@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: gray;
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 240px;
  position: relative;
  border: 1px solid black;
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
  background: rgb(7, 143, 52);
}

.upfigure {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  color: red;
  font-size: 50px;
  transform: rotate(180deg);
}

.lowfigure {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  color: red;
  font-size: 50px;
}
.numero {
  display: flex;
  width: 150px;
  justify-content: center;
  font-size: 50px;
}
