@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: gray;
}
.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 240px;
  position: relative;
  border: 1px solid black;
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
  background: rgb(7, 143, 52);
}

.upfigure {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}
.lowfigure {
  width: 150px;
  display: flex;
  justify-content: flex-end;
}
.numero {
  display: flex;
  align-content: center;
}
